.modal-header {
  text-align: center;
  font-family: @main-font-caps;
}

.modal-body {
  text-align: center;
}

.modal-footer {
  text-align: center;

  button {
    .btn();
    .btn-scoffer();
    .btn-info();
  }

  button + button {
    .btn-primary();
  }
}

.repost-modal {
  .modal-body {
    padding-right: 40px;
    padding-left: 40px;

    header {
      padding-bottom: 20px;
    }

    label {
      line-height: 40px;
    }
  }
}
