@import '../../bower_components/bootstrap/less/bootstrap.less';
@import "variables";
@import "partials-styles/mixins";
@import "partials-styles/postoffer";
@import "partials-styles/signup";
@import "partials-styles/login";
@import "partials-styles/youroffers";
@import "partials-styles/modals";


body {
  font-family: @main-font;
  font-weight: @main-font-weight;
  background-color: #ffffff;

  div[ui-view] {
    padding-top: 50px;

    @media (min-width: @screen-sm-min) {
      padding-top: 55px;
    }
  }
}

#route-change-container {
  padding-top: 100% !important;
}

.form-control {
  border-radius: 0px;
}

.navbar {
  border-radius: 0px !important;
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 100 !important;
}

.navbar-brand {
  font-family: @brand-font;
  font-size: xx-large;
  padding-left: 25px;
}

.navbar-nav {

  @media (max-width: @screen-sm-min) {
    a:hover {
      background-color: rgba(157, 157, 157, 0.35) !important;
    }
  }

  li > a {
    cursor: pointer;

    @media (max-width: @screen-lg-min) {
      padding-left: 5px !important;
      padding-right: 5px !important;
    }

    @media (min-width: @screen-lg-min) {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
}

.navbar-right {

  li > a {
    padding-top: 0px;

    @media (min-width: @screen-sm-min) {
      padding-top: 10px !important;
    }

    @media (max-width: @screen-md-min) {
      text-align: center;
      border-bottom: none;
    }

    line-height: 30px !important;
  }

  img {
    height: 30px;
    width: auto;
    margin-left: 10px;
    .hidden-xs();
    .hidden-sm();
  }

  span {
    font-family: @brand-font;
  }
}

.container-fluid {
  padding-top: 0px !important;
  .default-padding();
}

.error {
  position: absolute;
  width: 100%;
  background-color: rgb(220, 220, 220);
  text-align: left;
  top: 50px;
  padding: 5px 15px 5px 15px;
  transition: .25s linear;
  height: 40px;
  overflow: hidden;

  .default-padding();

  .info {
    color: @red-background;
    font-size: large;
    line-height: 30px;
  }

  .success {
    color: green;
    font-size: large;
    line-height: 30px;
  }

  span:first-child {
    padding-left: 20px;
  }

  span:last-child {
    padding-right: 20px;
  }

  h5 {
    display: inline !important;
    font-size: medium;
    font-weight: 200;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ffffff;
    text-align: center;
    left: auto;
    right: auto;
    padding-left: 15px;
  }

  button {
    display: inline !important;
    font-size: 20px;
    text-align: right;

    span {
      color: #000000;
      line-height: 30px;
    }
  }
}

.error.ng-hide {
  height: 0px;
  opacity: 0;
}

#back-to-top {
  .default-padding();

  a {
    cursor: pointer;
    text-align: left;
  }
}

footer {
  .default-padding();

  @media (min-width: @screen-sm-min) {
    position: fixed;
  }

  padding-top: 10px;
  margin-top: 25px;
  left: 0px;
  min-height: 50px;
  bottom: 0px;
  background-color: rgb(220, 220, 220);
  width: 100%;

  #footer-container {
    .make-row();
    span {
      .make-xs-column(24);
      .make-sm-column(8);
      padding-bottom: 15px;
      display: block;
      text-align: center;

      @media (min-width: @screen-sm-min) {
        text-align: left;
        display: inline;
        padding-bottom: 0px;
      }
    }

    span:nth-child(2) {
      @media (min-width: @screen-sm-min) {
        text-align: center;
      }
    }

    span:nth-child(3) {
      @media (min-width: @screen-sm-min) {
        text-align: right;
      }
      i {
        cursor: pointer;
        padding-left: 3px;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}


