@font-face {
  font-family: Blenda;
  src: url('fonts/Blenda-script.otf');
}

@brand-font: Blenda;
@main-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
@logo-color: #fff;
@red-background: #c93055;
@icon-font-path:"../../scoffer_app/styles/fonts/";
